.ui-box {
  padding: 5vh;
  border-image: url('box-base.png') 18 fill / 18px stretch;
  border-image-outset: 0;
  font-family: 'FunkinLingLong', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}