@font-face {
  font-family: "FunkinOptions";
  src: url("fonts/FunkinOptions.otf") format("opentype");
}

@font-face {
  font-family: "FunkinLingLong";
  src: url("fonts/FunkinLingLong.otf") format("opentype");
}

@font-face {
  font-family: "5by7";
  src: url("fonts/5by7.ttf") format("truetype");
}

@font-face {
  font-family: "DS-Digital";
  src: url("fonts/DS-Digital.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata ExtraBold";
  src: url("fonts/Inconsolata ExtraBold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("bg.png") no-repeat center center / cover fixed;
  color: #f0f0f0;
  background-color: black;
}

.container {
  text-align: center;
}

h1 {
  font-size: 9rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  font-size: 3.3rem;
  color: #888;
}

.footer-left, .footer-right {
  z-index: 101;
}

.footer-left a, .footer-right a {
  color: inherit;
  text-decoration: none;
}

.footer-left a:hover, .footer-right a:hover {
  text-decoration: underline;
}

.smooth-btn {
  transform: scale(1);
  transition: transform 0.3s ease-out;
}

.smooth-btn:hover {
  transform: scale(1.05);
}

@keyframes iris-out {
  0% {
    clip-path: circle(0% at 50% 50%);
  }
  1% {
    clip-path: circle(130% at 50% 50%);
  }
  100% {
    clip-path: circle(0% at 50% 50%);
  }
}

.irisEffect {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  animation-name: iris-out;
  animation-duration: 1s;
  animation-timing-function: ease;
}
