.dropdown-arrow {
      transition: transform 0.2s ease;
      margin-top: -0.5rem;
    }
    .dropdown-arrow.flipped {
      transform: rotate(-180deg);
      transition: transform 0.3s ease;
    }
    .mod-box {
      padding: 20px;
      padding-top: 1.9vh;
      padding-left: 40px;
      border-image: url('assets/box base.png') 18 fill / 18px stretch;
      border-image-outset: 0;
      font-family: 'FunkinLingLong', sans-serif;
      display: flex;
      flex-direction: column;
      height: 7vh;
      transition: height 0.3s ease;
    }
    .mod-box-header {
      display: flex;
      align-items: center;
      width: 100%;
    }
    .mod-box-content {
      opacity: 0;
      pointer-events: none;
      user-select: none;
      transition: opacity 0s;
      margin-top: 1vh;
    }
    .mod-box.expanded .mod-box-content {
      opacity: 1;
      pointer-events: auto;
      user-select: auto;
      transition: opacity 0.3s ease 0.2s;
    }